<div id="aspect_statistics_mostpopular_MostPopular_div_geo-stat-chart_wrapper"
     class="ds-static-div panel panel-default">
    <div class="ds-static-div panel-heading">
        <span class="fa fa-globe">&nbsp;</span><span
        class="emphasis">{{{I18nIs 'mit.most-popular.map.total-downloads-by-country'}}}</span>
    </div>
    <div id="aspect_statistics_mostpopular_MostPopular_div_geo-stat-chart" class="ds-static-div panel-body">
        <div id="chart" class="ds-static-div map">
            <span class="emphasis">{{{I18nIs 'mit.most-popular.map.loading'}}}</span>
        </div>
        <div class="ds-static-div areaLegend">
            <span class="emphasis">{{{I18nIs 'mit.most-popular.map.loading'}}}</span><span class="geochartDisclaimer"><span
                class="bold">{{{I18nIs 'mit.most-popular.map.disclaimer'}}}: </span><span
                class="emphasis">{{{I18nIs 'mit.most-popular.map.disclaimer-content'}}}</span></span>
        </div>
    </div>
</div>